@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");


:root {
  --primary-color: #16a34a; /* Verde principal */
  --secundary-color:#059669; /* Verde segundario */
  
  
  --card-bg-color: #f8fafc; /* Fundo do cartão */
  --card-border-color: #e5e7eb; /* Cor da borda e hover */
  
  
  --text-color-dark: #374151; /* Texto títulos */
  --text-color-light: #6b7280; /* Texto subtítulos */
  
  
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

body {
 font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

.header-caixa {
  padding: 15px 30px; 
  margin-bottom: 30px;
  width: 100%;
  
  display: flex;
  justify-content: flex-start; 
  align-items: baseline;      
  gap: 5px;                  
}

.header-title {
  margin: 0; 
  font-size: 32px; 
  font-weight: bold;
  color: var(--secundary-color); 
}
.header-subtitle {
  color: var(--text-color-light); 
  margin: 0; 
  font-size: 24px;
  font-weight: normal;
}

.upload-container {
  display: flex;
  gap: 30px;
  width: 100%;
  padding: 0 30px;
}
.upload-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.upload-title {
  color:var(--text-color-light);
  margin-bottom: 8px;
  font-weight: 500;
}
.file-input-wrapper {
  position: relative;
  height: 80px;
  border: 2px dashed var(--primary-color);
  border-radius: 10px;
  background-color: var(--card-bg-color);
  padding: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px; 
  
  color: var(--text-color-light);
  transition: background-color 0.3s;
  overflow: hidden;
  
  cursor: pointer;
}

.file-input-wrapper:hover {
  background-color: var(--card-border-color);
}

.file-input-wrapper i {
  background-color: var(--secundary-color);
  color: var(--card-bg-color);            
  border-radius: 50%;      
  width: 28px;
  height: 28px;
  font-size: 14px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-input-wrapper span {
  font-size: 1rem;
}

.file-input-wrapper .shiny-input-container {
  position: absolute;
  top: -99999px;
  left: -99999px;
  opacity: 0;
}

.conteudo-caixa {
  display: grid;
  grid-template-columns: 1fr; 
  transition: grid-template-rows 0.5s ease-out; 
}

.map-transition-container {
  display: grid;
  grid-template-rows: 0fr; 
  transition: grid-template-rows 0.5s ease-out;
  overflow: hidden; 
}

.map-transition-container.visible {
  grid-template-rows: 1fr; 
}

.map-content-wrapper {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  min-height: 0; 
  overflow: hidden;
}

.map-transition-container.visible .map-content-wrapper {
  opacity: 1;
}

.modal-content {
  background-color: var(--card-bg-color);        
  border: 1px solid var(--card-border-color);       
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.modal-header {
  background-color: var(--secundary-color); 
  color: var(--card-bg-color);             
  padding: 1rem 1.5rem;   
  border-radius: 10px 10px 0 0;
}

.modal-title {
  font-weight: 700; 
  font-size: 1.25rem;
}

.modal-body {
  padding: 1.5rem 1.5rem 0 1.5rem; 
}

.modal-body .shiny-input-container > label {
  color: blue;
  font-weight: 500; 
  margin-bottom: 8px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
  padding: 0 1rem 1rem 1rem;
  border-top: 0;
}

#analysis-save_csv_config {
  background-color: var(--secundary-color);
  border-color: var(--secundary-color);
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.analysis-container {
  padding: 2rem;
}

.analysis-controls .shiny-input-container {
  flex-grow: 1;
}

.plot-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* --- Títulos dos Gráficos --- */
.analysis-card h4 {
  color: var(--text-color-dark);
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--card-border-color);
  padding-bottom: 0.75rem;
}

.btn-success {
  background-color: var(--primary-color);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 0.5rem;
}

.method-btn-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.method-btn {
  background-color: #f9fafb;
  color: var(--text-color-dark);
  border: 2px solid var(--card-border-color);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.method-btn i {
  font-size: 1.25rem;
  color: var(--text-color-light);
  transition: color 0.2s ease-in-out;
}

.method-btn:hover {
  border-color: var(--primary-color);
  background:var(--card-bg-color);
  color: var(--primary-color);
}

.method-btn:hover i {
  color: var(--primary-color);
}

.method-btn.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--card-bg-color);
}

.method-btn.active i {
  color: var(--card-bg-color);
}

.method-btn.active:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--card-bg-color);
}

.method-btn.active:hover i{
  color: var(--card-bg-color);
}

.irs--shiny.irs-with-grid {
  width:250px;
}